  ../../.bash_history
        ../../.config/
        ../../.dotnet/
        ../../.gitconfig
        ../../.gk/
        ../../.gnupg/
        ../../.lesshst
        ../../.nuget/
        ../../.ssh/
        ../../.vscode/
        ../../AppData/
        ../../Contacts/
        ../../Desktop/
        ../GP-kurssien aiheet.txt
        ../Gimp-kansio/
        ../Godot_Projects/
        ../Haku.txt
        ../KU131_27.5.2025.pdf
        ../KU204_Helmikuu_2025.pdf
        ../KU204_Huhtikuu_2025.pdf
        ../KU204_Maaliskuu_2025.pdf
        ../KU204_Tammikuu_2025.pdf
        ../KU204_Toukokuu_2025.pdf
        ../Merfolk_decklist_2025.txt
        ../Oppari-info.txt
        ../Paradox Interactive/
        ../Python-jatkokurssi/
        ../Unity_Projects/
        ../Voiko jouluna olla rauhassa.txt
        ../desktop.ini
        ../../Downloads/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf
        ../../NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../Saved Games/
        ../../Searches/
        ../../Tracing/
        ../../UsersAPJDocumentsGit-kurssi/
        ../../Videos/
        ../../hello_world.py
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        "../../p\303\266rd\303\244.txt"
